{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>End Date</th>
                <th>Rate Per Hour</th>
                <th>Project Owner</th>
                <th>Email</th>
                <th>Hours Estimated</th>
                <th>Amount</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.endDate ? project.endDate|date('d M Y') : '' }}</td>
                <td>{{ project.ratePerHour }} {{ project.currency }}</td>
                <td>{{ project.projectOwner }}</td>
                <td>{{ project.email }}</td>
                <td>{{ project.hoursEstimated }}</td>
                <td>{{ project.ratePerHour * project.hoursEstimated }} {{ project.currency }}</td>
                <td>{{ project.status }}</td>
                <td>

                    <a href="{{ path('project_show', {'id': project.id}) }}"><i class="bi bi-eye-fill btn btn-outline-info"></i></a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="bi bi-pencil-square btn btn-outline-warning"></i></a>
                    {{ include('project/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
